$red : red;
$darkRed:darkRed;
$yellow:yellow;
$darkYellow:darkGoldenRod;
$green:green;
$darkGreen:darkGreen;
$orange:orange;
$darkOrange:darkOrange;
$blue:blue;
$blueDark:#424199;
$blueMedium:#4F81BD;
$blueLight:#1698CE;
$minHeight:200px;
$paddingRightColumns1:20px;


body{
    font-size: 15px;
}

h5{
    color: $blueDark;
}

//temp styles 
.personal {
    height: $minHeight;
    margin-top:2rem;
    .col.second{

        .trait {
            width: 100%;
            margin-bottom:0.5em; 
            &:nth-child(n+2){
                float: left;
            }
            i {
                color: $blueLight;
                margin-right: 1em;
            }
        }
        > .foot {
            position: absolute;
            bottom: 5px;
            left: 5px;
            width: 100%;
        }
    }
}

.training { 
    background: $yellow;
    > .col:nth-child(2){
        background: $darkYellow;
    }
}

.education {
    background: $orange;
    > .col:nth-child(2){
        background: $darkOrange;
    }
}

.separator {
    height: ($minHeight/5);
    margin-bottom: 3%; 
}

.line {
    width:100%;
    height: 2px;
    background: $blueMedium;
    position: absolute;
    bottom: 0;
    left:0;
}

.square {
    width:15px;
    height: 15px;
    background: $blueMedium;
    position: absolute;
    bottom: 0;
    right:0;
}

header .first h5 {
    top: 0;
}

h5{
    right: $paddingRightColumns1;
}

.first h5 {
    position: absolute;
    top:15px;
}

.first strong {
    color: $blueMedium;
    position: absolute;
    right: $paddingRightColumns1;
}

.entry{
    margin-bottom: 10px;
}

.mars{
    color: $blueLight;
}


.pdf{
    margin-right: 10px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

navigation {
    display: flex;
    margin-top:1%;
    width: 110%;
    // .input-group{
    //     width: 80%;
    //     float: right;
    // }
    toggable {
        display:block;
        height:38px;
        min-width: 115px;
        margin: 5px 10px 0 0;
    }
}

toggable {
    &.btn{
        &.btn-primary{
            background-color:$blueDark;
            border-color: $blueDark;
        } 
        &.btn-secondary{
            color:$blueMedium;
            border-color: $blueMedium;
        } 
    }
}

.signin {
    position: absolute;
    right: 0;
    top: 5px;
    display: none;
}

experience{
    margin:0 0 10px 0;
    toggable{
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

subnavigation {
    width: 100%;
    min-height: 100px;
}

.container{
    overflow-y:hidden;
    overflow-x:hidden;
    min-height: 50px;
}

training, education{
    .row{
        margin-bottom: 15px;
    }
    toggable{
        margin-right: 5px;
        margin-bottom: 5px;
    }
}
